<div class="lists projectList clearfix">
    
    <div class="prototype-bar">
        <div class="icon">

        </div>
        <div class="prototype-info">
            原型名称

        </div>

        <div class="flow">
            <ul>
                <li class="add-interface" id="J-addInterface">添加界面</li>
                <li class="preview">预览</li>
                <li class="share">分享</li>
            </ul>

        </div>

        <div class="zoom-bar">
            <span class="min"></span>
            <span class="max"></span>
            <div class="bar"></div>
        </div>

    </div>

    <ul>

              

    </ul>
</div>

<!--原型设置-->
<script type="template" id="J-prototype-setting">
    <div class="prototype-setting">
        <div class="name">
            <label>原型名称</label>
            <input type="" name=""/>
        </div>
        <div class="icon">
            <label>icon<span class="tips">建议尺寸:<br/>114px*114px</span></label>
            <div class="icon-pic">
                <img src=""/>
            </div>
        </div>
        <div class="start-page">
            <label>启动界面<span class="tips">建议尺寸:<br/>640px*960px</span></label>
            <div class="start-pic">
                <img src=""/>
            </div>
        </div>
        <div class="btns">
            <button class="confirm">确定</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</script>

<script src="/javascripts/prototype.js"></script>
