<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<div class="header-bar">
    <h1>秘密的项目</h1>
</div>



<div class="main clearfix">
    <div class="sidebar">
        <div class="sidebar-content">
            <h3>您的项目</h3>
            <ul>


            </ul>
        </div>
    </div>
    <div class="content">
        <div class="c">
            <div class="breadcrumb">
                <a href="/">您的项目</a><span>><%= project.name%></span>
            </div>

            <%- body%>
        </div>
    </div>

</div>



</body>
</html>