<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/javascripts/tools.js"></script>
</head>
<body>
<div class="header-bar">
    <h1><a href="/">秘密的项目</a></h1>
    
    <ul class="menu-list">
        <li class="msg">消息</li>
        <li class="usr">梦雅</li>
    </ul>

</div>



<div class="main clearfix">
    
    <div class="content">
        <div class="c">
            <div class="breadcrumb">
                <a href="/">您的项目</a><span><%= project.name ? ' > '+project.name : ''%></span>
            </div>

            <%- body%>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        var ul = '';
        $.ajax({
            url:'/project/querySidebar',
            method:'post',
            success:function(res){
                for(var i = 0 ; i< res.length; i++){
                    ul += '<li><a href="/project/'+res[i]._id+'">'+res[i].name+'</a></li>';
                }
                $("#J-sidebar").html(ul);
            }
        })
    });

</script>


</body>
</html>