<form action="login/validation" method="post">

        <input type="text" name="username" />
        <input type="password" name="password"/>
        <input type="hidden" name="grant_type" value="password"/>
        <input type="hidden" name="site" value="BUC"/>

        <input type="submit"/>
</form>