<form action="http://api.yunpan.alibaba.com/oauth/access_token" method="post">

            <input type="text" name="username" />
            <input type="password" name="password"/>


            <input type="hidden" name="grant_type" value="password"/>
            <input type="hidden" name="site" value="BUC"/>
            <input type="hidden" name="client_id" value="106362801917443616"/>
            <input type="hidden" name="client_id" value="bccdbbe3145941bfbe947fdd8668a668"/>
            <input type="hidden" name="AppKey" value="uxKeynote"/>
            <input type="submit" name=""/>
</form>