<div class="lists projectList clearfix">
    
    <div class="fun-bar">
       <h3>我的目录</h3>
       <a href="#" id="J-createDir">新建目录</a>
    </div>

    <ul>

              

    </ul>
</div>

<script type="template" id="J-createDirTmp">
  <div class="box-c">
     <label>目录名称</label>
     <input type="text" name=""/>
     <button>确定</button>
   </div>
</script>

<script src="/javascripts/mylist.js"></script>
