<div class="projecList">
    <ul>

        <% projects.forEach( function ( project ){ %>
        <li><a href="/project/<%= project._id %>"><%= project.name%></a></li>
        <%})%>

    </ul>
</div>
