<div class="projectList lists clearfix">
    <ul>

        <% projects.forEach( function ( project ){ %>
        <li><a href="/project/<%= project._id %>"><img src="/images/1.png" alt=""/></a><a href="/project/<%= project._id %>"><%= project.name%></a></li>
        <%})%>

    </ul>
</div>
