<div class="projectList lists clearfix">
    <ul>

        <% projects.forEach( function ( project ){ %>
        <li><img src="/images/1.png"/><a href="/project/<%= project._id %>"><%= project.name%></a></li>
        <%})%>

    </ul>
</div>
