<div class="lists projectList clearfix">
    <ul>

        <% projects.forEach( function ( project ){ %>
        <li><a href="/project/<%= project._id %>"><img src="/images/_projectPic/<%= project.projectPath%>" alt=""/></a><span class="t"><%= project.name%></span></li>
        <%})%>

    </ul>
</div>
