<h2 class="fun-title">添加UI界面</h2>

<ul class="c-form">
    <li><input type="text" name="projectName" id="J-projectName" class="c-input" placeholder="项目名称"/> </li>
    <li><input type="password" name="pwd" id="J-pwd"  class="c-input" placeholder="管理员密码"/> </li>
    <li><input type="button" value="添加项目" id="J-addProject" class="c-btn"/> </li>
</ul>




<div class="">

</div>