<h1>添加项目</h1>
<ul>
    <li><label>项目名称</label><input type="text" name="projectName" id="J-projectName"/> </li>
    <li><label>管理员密码</label><input type="password" name="pwd" id="J-pwd"/> </li>
    <li><input type="button" value="添加项目" id="J-addProject"/> </li>
</ul>


