<div class="func-bar">
    <a href="#" class="ex-btn back">返回</a>

    <div class="func-c">
        <h2>表哥计划</h2>
        <ul class="func-list">
            <li class="add"><a href="#" id="J-add">继续添加</a></li>
            <li class="replace"><a href="#" id="J-replace">替换</a></li>
            <!--<li class="replace"><a href="#" id="J-addLink">加热点</a></li>-->
            <li class="delete"><a href="#" id="J-delete">删除</a></li>
            <li class="preview"><a href="#" id="J-preview">预览</a></li>
        </ul>
    </div>
    <a href="#" class="ex-btn complete">完成</a>
</div>

<div class="effect">
    <ul class="effect-list">
        <li>渐隐</li>
        <li>向左</li>
        <li>向右</li>
    </ul>
</div>



<ul class="prototype-list clearfix">

    <%if(files){%>
    <% files.forEach( function ( file ){ %>
    <li class="file" data-id="<%= file.id%>">
       <div class="pic-page-context" id="J-page<%= file.id%>">
        <a href="#">
            <img src="http://yunpan.alibaba-inc.com/GetPhotoTag.do?fileId=<%= file.id%>&showBig=true"/>
        </a>

       </div>

        <span class="name"><%= file.fileName%></span>

    </li>

    <%})%>
    <%}else{%>
    <li>没东西</li>
    <%}%>

</ul>

<div class="context-menu-items" id="J-contextMenuItems">
    <ul>
        <li><a href="#" id="J-addLink">加热点</a></li>
        <li><a href="#" id="J-jump">跳转热点</a></li>
        <li><a href="#" id="J-deleteBlock">删除</a></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<style>
    .prototype-list li a img{
        width:220px;
    }
</style>
<script src="/javascripts/prototype1.js"></script>

<script>

    KISSY.use("prototype",function(S,Prototype){
        new Prototype();
    })

</script>
