<div class="lists projectList">
    <ul>

        <% versions.forEach( function ( version ){ %>
        <li><a href="/version/<%= version._id %>"><%= version.name%></a></li>
        <%})%>
        <li class="add-version"><a href="/version/add/<%= project._id%>">添加版本</a></li>
    </ul>

</div>
