<div class="versionList">
    <ul>
        <% pictures.forEach( function ( picture ){ %>
        <li><img src="/images/<%= picture.projectDir%>/<%= picture.versionDir%>/<%= picture.path%>" alt=""></li>
        <%})%>
    </ul>

</div>
