<div class="lists projectList">
    <ul>

        <% versions.forEach( function ( version ){ %>
        <li><a href="/version/<%= version._id %>"><img src="/images/1.png" alt=""/></a>
            <span class="t"><%= version.name%></span>
            <a href="#" class="J-viewQR" data-url="/version/<%= version._id %>">二维码预览</a><div class="J-qrWrap"></div>
        </li>
        <% }) %>

        <li class="add-version"><a href="/version/add/<%= project._id%>"><span class="icon">+</span></a><span class="t">添加版本</span></li>
    </ul>

</div>

<script type="text/javascript">
    $(".J-viewQR").on("mouseover mouseout",function(e){
        e.preventDefault();
        var target = e.target;
        var qrWrap = $(target).next(".J-qrWrap");
        var url = location.host + $(target).attr("data-url");
        console.log(url);
        if(e.type == "mouseover"){
            qrWrap.qrcode({width: 160,height: 160,text: url});
        }else{
            qrWrap.html("");
        }
    });
</script>

